version: '3'

tasks:
  build:
    dir: rootfs
    cmds:
      - mkdir -p root
{{- if .Rootfs.URoot}}
      #- git clone --single-branch --depth=1 https://github.com/u-root/u-root
      #- cd u-root && go build -o ../u-root && cd ..
{{- else}}
      #- GOARCH=arm GOARM=5 go build -a -ldflags='-s -w -buildid=' -gcflags=all=-l -trimpath -o operator
{{- end}}
      #- upx --best --brute operator
      - |
        cd root
        mkdir -p dev sys proc sbin run tmp var
        fakeroot mknod dev/console c 5 1
        fakeroot mknod dev/null c 1 3
        fakeroot mknod dev/zero c 1 5
        fakeroot mknod dev/tty c 5 0
        fakeroot mknod dev/tty0 c 4 0
        fakeroot mknod dev/random c 1 8
        fakeroot mknod dev/urandom c 1 9
      #- cp operator root/sbin/operator
