# Ignore everything
*

# Except:
# Git related
!**/.gitignore
!.gitattributes
!.gitmodules
# Documentation related
!*.md
# Protobuf schema related
!*.proto
# Go related
!*.go
!go.sum
!go.mod
# GitHub/Repository related
!LICENSE
!CODEOWNERS
# YAML configs
!*.yml
!*.yaml
# JSON configs
!*.json
# TOML configs
!*.toml
# Lock files
!*.lock

# Also traverse subdirectories
!**/
