version: '3'

tasks:
  build:
    cmds:
      - task: fetch
      - task: compile
  fetch:
    dir: bootloader
    cmds:
      - {{.Bootloader.FetchCmd}}
    status:
      - test -d src
  compile:
    dir: bootloader/src
    cmds:
      - cp -v ../defconfig .config
      - make olddefconfig
      # TODO: u-boot does not feature a script like linux to enable single options
      # TODO: handle custom device trees
      - make -j {{.Bootloader.Concurrency}}
    env:
      ARCH: {{.Arch}}
      CROSS_COMPILE: {{.Toolchain}}
