{{- if .Image.ABScheme}}
[boot_a]
mode=ubi
image=bootfs.ubifs
vol_id=1
vol_type=static
vol_name=root_a
vol_alignment=1
vol_size=12MiB

[root_b]
mode=ubi
image=bootfs.ubifs
vol_id=2
vol_type=static
vol_name=root_b
vol_alignment=1
vol_size=12MiB

[root_a]
mode=ubi
image=rootfs.ubifs
vol_id=3
vol_type=static
vol_name=root_a
vol_alignment=1
vol_size=16MiB

[root_b]
mode=ubi
image=rootfs.ubifs
vol_id=4
vol_type=static
vol_name=root_b
vol_alignment=1
vol_size=16MiB

[data]
mode=ubi
vol_id=5
vol_type=dynamic
vol_name=rwfs
vol_alignment=1
vol_size=2MiB
vol_flags=autoresize
{{- else}}
[boot]
mode=ubi
image=bootfs.ubifs
vol_id=1
vol_type=static
vol_name=boot
vol_alignment=1
vol_size=12MiB

[root]
mode=ubi
image=rootfs.ubifs
vol_id=2
vol_type=static
vol_name=root
vol_alignment=1
vol_size=16MiB

[data]
mode=ubi
vol_id=3
vol_type=dynamic
vol_name=data
vol_alignment=1
vol_size=2MiB
vol_flags=autoresize
{{- end}}
